# dependencies
/node_modules
/.pnpm-store

# next.js
/.next/
/out/

# production
/build

# local
.DS_Store
*.pem

# debug
npm-debug.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo

# generated QA files
/tmp/
/output/